#app {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

html {
  height: 100vh;
}

body {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  margin: 0;
}

h1 {
  font-size: 32px;
  line-height: 1.5;
}

h2 {
  font-size: 28px;
  line-height: 1.43;
}

h3 {
  font-size: 24px;
  line-height: 1.5;
}

h4 {
  font-size: 20px;
  line-height: 1.6;
}

h5 {
  font-size: 18px;
  line-height: 1.78;
}

h6 {
  font-size: 18px;
  line-height: 1.33;
}