.wrapper {
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.wrapper-fullwidth {
  max-width: 100%;
  width: 100%;
}

.column-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.column-1, .column-2, .column-3, .column-4, .column-5, .column-6,
.column-7, .column-8, .column-9, .column-10, .column-11, .column-12  {
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}

.column-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.column-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.column-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.column-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.column-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.column-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.column-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.column-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.column-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.column-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.column-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.column-12 {
  flex: 0 0 100%;
  max-width: 100%;
}